@import "../../../media_mixin.scss";

.what-tasks {
  max-width: 1580px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 184px;

  @include _1580 {
    max-width: 100%;
    width: 100%;
    padding: 0 10px;
  }
  @include _1580 {
    margin-bottom: 60px;
  }

  &__h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 52px;
    color: #363130;
    margin-bottom: 19px;

    @include _1056 {
      font-size: 28px;
      line-height: 46px;
    }
  }

  &__wrap-text1,
  &__wrap-text2 {
    width: 1581px;
    height: 294px;
    border: 1px solid #319F1C;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 24px 60px 36px 43px;
    margin-bottom: 58px;

    @include _1580 {
      max-width: 100%;
      width: 100%;
      height: auto;
      padding-bottom: 0;
    }
    @include _1056 {
      margin-bottom: 40px;
      padding: 20px 20px 0;
    }
  }

  &__texts {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;

    @include _1320 {
      margin-bottom: 15px;
      line-height: 20px;
    }
    @include _1056 {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__h3, 
  &__h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 26px;
    color: #363130;
    margin-bottom: 5px;

    @include _1056 {
      font-size: 28px;
    }
  }

  &__h4 {
    font-size: 20px;
    color: #676262;
    margin-bottom: 29px;

    @include _1056 {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__wrap-text2 {
    width: 1581px;
    height: 294px;
    padding: 30px 60px 30px 43px;
    margin-bottom: 71px;

    @include _1580 {
      max-width: 100%;
      width: 100%;
      height: auto;
      padding-bottom: 0;
    }
    @include _1056 {
      margin-bottom: 40px;
      padding: 20px 20px 0;
    }
  }

  &__wrap-img {
    display: flex;
    justify-content: space-between;
    position: relative;
    @include _1580 {
      max-width: 100%;
    }
  }
  &__wrap-img::before {
    content: "";
    position: absolute;
    top: 200px;
    left: -171px;
    z-index: -1;
    width: 715px;
    height: 351px;
    background-image: url('../../../assets/png/white-clouds.png');

    @include _1320 {
      top: 124px;
    }
    @include _1056 {
      top: -25px;
      left: -19px;
      width: 660px;
      height: 320px;
    }
  }
  &__img {
    @include _1580 {
      max-width: 32%;
    }
  }
}
.what-tasks::before {
  content: "";
  position: absolute;
  top: -98px;
  right: -169px;
  width: 197px;
  height: 213px;
  background-image: url('../../../assets/png/shavings.png');
}
.what-tasks::after {
  content: "";
  position: absolute;
  top: 254px;
  left: -171px;
  width: 176px;
  height: 220px;
  background-image: url('../../../assets/png/Group1402.png');
}
